/* fonts */
@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-Regular.ttf");
   font-weight: 400;
 }

@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-Bold.ttf");
   font-weight: 700;
 }

@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-ExtraBold.ttf");
   font-weight: 900;
 }

/* Variables */
:root {
   --light-background: #999;
   --light-font: #999;
   --light-border: 2px solid #999;
   /* TO DO: 2box shadow, font colors, dark background */
}



/* main */
body {
   background-color: #222;
   font-family: 'Grandstander';
   color: var(--light-font);
   min-height: 5000px;
}

.web-title {
   font-size: 50px;
   font-weight: 900;
   margin-top: 60px;
   margin-bottom: 60px;
   text-align: center;
}

.descriptions {
   border: var(--light-border);
   -webkit-box-shadow: 5px 5px 15px 5px #000000; 
   box-shadow: 5px 5px 15px 5px #000000;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   padding: 30px;
}

.section-title, .section-description{
   text-align: center;
}

.entries {
   margin-top: 30px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.entry {
   width: 28%;
   border: var(--light-border);
   -webkit-box-shadow: 5px 5px 15px 5px #000000; 
   box-shadow: 5px 5px 15px 5px #000000;
   padding: 15px;
   background-color: rgb(31, 30, 30);
   line-height: 20px;
   word-wrap: break-word;
}

.scroll-top-button {
   width: 50px;
   height: 50px;
   background-color: rgb(200, 200, 200);
   border-radius: 100px;
   -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75); 
   box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
   position: fixed;
   bottom: 50px;
   right: 80px;
   z-index: 99;
   border: 1px solid #111;
   cursor: pointer;
   transition: transform .2s ease-in-out, opacity .5s ease-in-out;
   opacity: 0;
   pointer-events: none;
}

.scroll-top-button--active{
   opacity: 1;
   pointer-events: unset;
}

.scroll-top-button:hover {
   transform: scale(1.05);
}

.scroll-top-button:focus {
   outline: none;
}

.icon-up-open:before {
   font-size: 25px; margin-bottom: 2px;
}

.mode-switcher {
   font-family: 'Grandstander';
   width: 90px;
   height:30px;
   border-radius: 50px;
   border: 3px solid rgb(20, 20, 20);
   position: absolute;
   top: 25px;
   left: 25px;
   cursor: pointer;
   background-color: #d8d8d8;
}

.mode-switcher-bullet {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 24px;
   height: 24px;
   border-radius: 100%;
   background-color: red;
   transition: left .3s ease-in-out;
}

.mode-switcher:focus {
   outline: none;
}










/* light mode */

body.light-mode {
   background-color: var(--light-background);
   color: #222;
}

body.light-mode .entry {
   background-color: var(--light-background);
}

body.light-mode .mode-switcher-bullet {
   left: 60px;
}