/* fonts */
@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-Regular.ttf");
   font-weight: 400;
 }

@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-Bold.ttf");
   font-weight: 700;
 }

@font-face {
   font-family: 'Grandstander';
   src: url("./font/Grandstander/Grandstander-ExtraBold.ttf");
   font-weight: 900;
 }

/* Variables */
:root {
   --light-background: #999;
   --light-font: #999;
   --light-border: 2px solid #999;
   --dark-background: #222;
   --dark-font: #222;
   --box-shadow: 2px 2px 12px 1px #000000;
   --selection: #e78484;
}

/* Links */
a:link {
   color: inherit;
}

a:visited {
   color: inherit;
}

a:hover {
   color: #df1313;
}

/* main */
body {
   background-color: var(--dark-background);
   font-family: 'Grandstander';
   color: var(--light-font);
   min-height: 5000px;
}

::-moz-selection {
   background: var(--selection);
}

::selection {
   background: var(--selection);
}

.web-title {
   font-size: 50px;
   font-weight: 900;
   margin-top: 60px;
   margin-bottom: 60px;
   text-align: center;
}

.descriptions {
   border: var(--light-border);
   -webkit-box-shadow: var(--box-shadow); 
   box-shadow: var(--box-shadow);
   box-sizing: border-box;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   padding: 30px;
}

.section-title, .section-description {
   text-align: center;
}

.entries {
   margin-top: 30px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;
}

.entry-item {
   width: 28%;
   border: var(--light-border);
   -webkit-box-shadow: var(--box-shadow); 
   box-shadow: var(--box-shadow);
   background-color: rgb(31, 30, 30);
   margin-bottom: 32px;
}

.entry-item-header {
   padding: 15px;
   font-weight: bold;
   position: relative;
   cursor: pointer;
}

.entry-item-header::after {
   content: "\25BC";
   position: absolute;
   right: 20px;
   transition: transform .3s ease-in-out;
}

.entry-item-header.active::after {
   transform: rotate(180deg);
}

.entry-item-body {
   max-height: 0;
   overflow: hidden;
   transition: max-height .3s ease-out;
}

.entry {
   padding: 15px;
   line-height: 20px;
   border-top: var(--light-border);
   word-wrap: break-word;
   margin: 0;
}

.scroll-top-button {
   width: 50px;
   height: 50px;
   background-color: rgb(200, 200, 200);
   border-radius: 100px;
   -webkit-box-shadow: var(--box-shadow); 
   box-shadow: var(--box-shadow);
   position: fixed;
   bottom: 50px;
   right: 80px;
   z-index: 99;
   border: 1px solid #111;
   cursor: pointer;
   transition: transform .2s ease-in-out, opacity .5s ease-in-out;
   opacity: 0;
   pointer-events: none;
}

.scroll-top-button--active {
   opacity: 1;
   pointer-events: unset;
}

.scroll-top-button:hover {
   transform: scale(1.05);
}

.scroll-top-button:focus {
   outline: none;
}

.icon-up-open:before {
   font-size: 25px; margin-bottom: 2px;
}

.mode-switcher {
   font-family: 'Grandstander';
   width: 90px;
   height:30px;
   border-radius: 50px;
   border: none;
   position: absolute;
   top: 25px;
   left: 25px;
   cursor: pointer;
   background-color: #d8d8d8;
   box-shadow: var(--box-shadow);
}

.mode-switcher-bullet {
   position: absolute;
   top: 3px;
   left: 3px;
   width: 23px;
   height: 23px;
   border-radius: 100%;
   background-color: var(--dark-background);
   transition: left .5s ease;
}

.mode-switcher:focus {
   outline: none;
}

/* light mode */

body.light-mode {
   background-color: var(--light-background);
   color: var(--dark-font);
}

body.light-mode .entry-item {
   background-color: var(--light-background);
}

body.light-mode .mode-switcher {
   background-color: var(--dark-background);
   color: var(--light-font)
}

body.light-mode .mode-switcher-bullet {
   left: 64px;
   background-color: var(--light-background);
}

/* mobile */

@media (max-width: 767px) {
   .descriptions {
      width: 100%;
   }

   .entry-item {
      width: 100%;
   }
}
